<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Meteriologia</h1>
		</div>
		<div class="panel-body">
			
			<form class="form-inline" method="POST" th:object="${meteriologia}"
					th:action="@{/meteriologia}" style="margin: 20px 0">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Cidade"
							th:field="*{cidade}" /> 
						<input
							type="text" class="form-control" placeholder="Dia da Semana"
							th:field="*{diaSemana}" /> 
						<input type="date" class="form-control"
							placeholder="Data" th:field="*{data}" />
						<input type="text" class="form-control" placeholder="Longitude"
							th:field="*{longitude}" /> 
						<input type="text" class="form-control" placeholder="Latitude"
							th:field="*{latitude}" /> 
						<input type="text" class="form-control" placeholder="Temperatura maxima"
							th:field="*{tempMax}" /> 
						<input type="text" class="form-control" placeholder="Temperatura minima"
							th:field="*{tempMin}" />
						<input type="text" class="form-control" placeholder="Umidade"
							th:field="*{umidade}" />  
						<input type="text" class="form-control" placeholder="Descrição"
							th:field="*{descricao}" /> 
						<button type="submit" class="btn btn-primary">Adicionar</button>
					</div>
				</form>
			
			
			<table class="table">
				<thead>
					<tr>
						<th>Cidade</th>
						<th>Dia da Semana</th>
						<th>Data</th>
						<th>Horario</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Temperatura máxima(°C)</th>
						<th>Temperatura minima(°C)</th>
						<th>Umidade(%)</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="meteriologia : ${meteriologias}">
						<td th:text="${meteriologia.cidade}"></td>
						<td th:text="${meteriologia.diaSemana}"></td>
						<td th:text="${meteriologia.data}"></td>
						<td th:text="${meteriologia.horario}"></td>
						<td th:text="${meteriologia.latitude}"></td>
						<td th:text="${meteriologia.longitude}"></td>
						<td th:text="${meteriologia.tempMax}"></td>
						<td th:text="${meteriologia.tempMin}"></td>
						<td th:text="${meteriologia.umidade}"></td>
						<td th:text="${meteriologia.descricao}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>